.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.formInput {
    background: #F5FCFD;
    border-radius: 6px;
    border: 1px solid #efefef;
    width: 20%;
    margin: 10px;
    padding: 10px;
}

