.weatherContainer {
    display: flex;
    width: 90vw;
    align-items: flex-end;
    justify-content: flex-start;
}

.customTooltip {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.customTooltip > p {
    margin: 0;
    padding: 0;

}
