.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80px;
}

.headerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.leftAlign {
    justify-content: flex-end;
}
.rightAlign {
    justify-content: flex-start;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #090C27;
    background: linear-gradient(111.04deg, #A6C0FE 18.13%, #F68084 70.13%);
}

.headerLink {
    text-decoration: none;
    color: #090C27;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0 10%;
}

.signUp {
    color: white;
    background: linear-gradient(173deg, #646464 0%, #051d39 100%);
    border-radius: 27px;
    padding: 5px 20px;
}


