.pageTitle {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.btn {
    background: linear-gradient(173deg, #646464 0%, #051d39 100%);
    border-radius: 5px;
    color: white;
    padding: 10px 28px;
    margin: 20px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

